
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

body, html {
  height: 100%;
}

#site-header {
  padding: 30px 0;
  color: rgb(172, 54, 54);
}

#site-footer {
  color: rgb(14, 14, 14);
  padding: 20px 0;
  text-align: center;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */


.game {
  margin: 0 30px;
  height: 100%;
}

.game .header-bar{
  display: flex;

}

.game .score {
  flex: 50%;

}

.game .timer {

}

.game .label {

}

.game .value {

}

.game div.game-cards {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.game .card {
  border: 1px solid #979797;
  background-color: #ffb968;
  text-align: center;
}

.game .currentCard {
  flex: 30%;
}

.game .actions {
  flex: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.game .up {

}

.game .down {

}

.game .nextCard {
  flex: 30%;
}

.game button {
  border: 1px solid #979797;
  flex: 1;
  margin: 10px;
}

.game .step-no {

}

.game .total-steps {

}

